// COLORS

$text-color: white;
$primary-color: rgb(60, 200, 40);

$background-color: rgb(30, 30, 30);
$background-color-normal: $background-color;
$background-color-light: rgb(40, 40, 40);
$background-color-dark: rgb(20, 20, 20);

$padding: 5px;
$smooth: 5px;
